.WhiskeyList{
  border-radius: 2%;
 /* background-position: center; */
 background: linear-gradient(rgba(255,255,255,0.2), rgba(255,255,255,0.2)) center no-repeat;
  background-size: contain;
  background-color: white;
}
.listText{
    background-color: rgba(255, 255, 255, 0.575);
    border-radius: 1px;
    background-size: cover;

}
.WhiskeyList{
    border: 2px rgb(94, 54, 37) solid;
    margin-right: 10px;
    margin-bottom: 10px;
}
.whiskeyListName{
    font-size: 10px; 
    color: black;
}
.whiskeyListItem{
    text-decoration: none;
}
.ratingText{
    font-size: 12px;
    opacity: 1;
}
.row{
    height: 7em;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.dropdown-add-btn{
    color: white;
    width: 45px;
    padding: 2px;
    font-size: 11px;
    border: none;
    cursor: pointer;
    text-align: center;
    font-weight: 400;
    background: rgb(94, 54, 37);
    border-radius: 0px;
    -moz-border-radius: 0px;
    -webkit-border-radius: 20px 20px 20px 20px;

  /* position: relative; */
  /* z-index:2; */
}
.add-selection{
    color: white;
    background: #21AA98;
    padding: 2px;
    font-size: 11px;
    border: none;
    cursor: pointer;
    text-align: center;
    /* font-weight: 900; */
    /* margin-bottom: 5px; */
 
    border-radius: 0px;
    -moz-border-radius: 0px;
    -webkit-border-radius: 20px 20px 20px 20px;
}
.add-selection, .triedLst{
    margin-bottom: 5px;
}
