.WhiskeyList{
  border-radius: 2%;
  background:  center no-repeat;
  background-size: contain;
  background-color: white;
  border: 2px #5c2626 solid;
  margin-right: .5em;
  margin-bottom: 10px;
  margin-left: .5em;
}
.listText{
    background-color: rgba(255, 255, 255, 0.63);
}
.dropdown-content{
    display: flex;
    flex-direction: column;
    margin-right: auto;
}

.whiskeyListName{
    font-size: 10px; 
    color: black;
}
.whiskeyListItem{
    text-decoration: none;
}
.ratingText{
    font-size: 12px;
    opacity: 1;
}

.dropdown-add-btn, .moveButton, .deleteBtn{
    color: white;
    width: 45px;
    padding: 2px;
    font-size: 11px;
    border: none;
    cursor: pointer;
    text-align: center;
    font-weight: 400;
    background: #722002;
    border-radius: 0px;
    -moz-border-radius: 0px;
    -webkit-border-radius: 20px 20px 20px 20px;
    margin-bottom: 2px;
}
.add-selection, .moveSelectionButton {
    color: white;
    background: #A52E03;
    padding: 2px 6px 2px 6px;
    font-size: 11px;
    border: none;
    cursor: pointer;
    text-align: center;
    margin-right: auto;
    border-radius: 0px;
    -moz-border-radius: 0px;
    -webkit-border-radius: 20px 20px 20px 20px;
}
.add-selection:active{
    transform: translateY(5px);
}

.add-selection, .triedLst{
    margin-bottom: 2px;
}
